<div class="order">
    <h2>HOW TO ORDER</h2>
    <table>
        <tbody>
            <tr>
                <td><img class="order_img" src="./../../assets/img/noodle.png" alt=""></td>
                <td><img class="order_img" src="./../../assets/img/broth.png" alt=""></td>
                <td><img class="order_img" src="./../../assets/img/egg.png" alt=""></td>
            </tr>
            <tr>
                <td class="order_txt">Pick your noodle</td>
                <td class="order_txt">Pick your broth</td>
                <td class="order_txt">Pick your toppings</td>
            </tr>
        </tbody>
    </table>
</div>