@import '../../../../styles.scss';


nav {
    width: 100%;
    padding: 32px;
    @include dFlex($jc: space-between, $g: 16px);

    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        // width: 350px;
        display: flex;
        gap: 64px;
        justify-content: center;
        align-items: $c;

        >a {
            @include fontColor(white);
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

a {
    @include fontColor(white);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
}

.phone_btn {
    @include fontColor(white);
    background-color: $dark_red;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    @include dFlex();
    @include borderStyling(solid);
    padding: 7px;

    &:hover {
        background-color: #d10e0e;
    }

    >img {
        width: 26px;
    }
}