.menu {
    background-image: url(./../../../assets/img/section_our_menu_bg.jpg);
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    >h2 {
        color: #9F0908;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 80px;
    }

    >.menu_list {
        display: flex;
    }
}

.menu_list {
    >img {
        width: 352px;
        height: 352px;
        padding-left: 100px;
        padding-right: 100px;
    }

    >table {
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        color: #675e54;
    }
}

.header_dishes {
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: black;
}