<div class="menu">
    <h2>OUR MENU</h2>

    <div class="menu_list">
        <img src="./../../assets/img/R1.png" alt="">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3 class="header_dishes">Tonkotsu Ramen</h3>
                    </td>
                </tr>
                <tr>
                    <td class="dishes">CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="menu_list">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3 class="header_dishes">Spicy Miso Ramen</h3>
                    </td>
                </tr>
                <tr>
                    <td class="dishes">CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </tbody>
        </table>
        <img src="./../../assets/img/R2.png" alt="">
    </div>

    <div class="menu_list">
        <img src="./../../assets/img/R3.png" alt="">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3 class="header_dishes">Shio Ramen</h3>
                    </td>
                </tr>
                <tr>
                    <td class="dishes">CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td class="dishes">SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>